extends layouts/defauth.pug
block main
  block main
   h1 Trang chủ
   button(onclick=`window.location.href = '/show'`) Hiện thi danh sách sản phẩm
   button(onclick=`window.location.href = '/create'`) Thêm sản phẩm mới 
   
